:root {
  /* Colors */
  --primary-color: #8b53ff;
  --dark-purple: #422cb3;
  --light-purple: #ca6de8;
  --heading-purple: #1e1466;
  --background-color: #fdfdfd;

  /* Spacing */
  --spacing-small: 0.5em;
  --spacing-medium: 1em;
  --spacing-large: 2em;
  --section-padding: 3em;

  /* Font sizes */
  --font-size-small: 15pt;
  --font-size-medium: 20pt;
  --font-size-large: 25pt;
  --font-size-heading: 40pt;
  --font-weight-regular: 400;
  --font-weight-bold: 700;

  /* Buttons */
  --button-border-radius: 0.45em;
  --button-padding: 0.15em 0.7em
}

body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  margin: 0;
  padding: 0;
  background-color: var(--background-color);
}

header {
  position: fixed;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: var(--spacing-small) 0.8em;
  width: 100%;
  top: 0;
  box-shadow: 0.1em 0.1em 0.6em lightgrey;
  background-color: #f9f9f9;
}

header a {
  margin-right: 0.8em;
}

header .logo {
  width: 14em;
  margin-left: var(--spacing-medium);
}

header .login-btn,
.start-btn {
  font-size: var(--font-size-small);
  text-decoration: none;
  color: inherit;
  padding: var(--button-padding);
  text-align: center;
}

header .login-btn {
  font-weight: var(--font-weight-regular);
  margin-left: auto;
  border: 0.1em solid transparent;
  border-radius: var(--button-border-radius);
}

header .login-btn:hover {
  border: 0.1em solid #f2f0f7;
  background-color: #f2f0f7;
}

header .start-btn {
  margin-right: 2.5em;
}

.start-btn {
  font-weight: var(--font-weight-bold);
  border: 0.1em solid var(--primary-color);
  border-radius: var(--button-border-radius);
  background-color: var(--primary-color);
  color: white;
}

.start-btn:hover {
  border: 0.1em solid var(--light-purple);
  background-color: var(--light-purple);
}

main {
  margin-top: 7em;
}

#heading {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 5em;
}

h1 {
  font-size: var(--font-size-heading);
  text-align: center;
  margin-bottom: 0;
}

#app-description {
  font-size: var(--font-size-small);
  font-weight: var(--font-weight-regular);
  color: grey;
  text-align: center;
  margin-bottom: 4rem;
}

main .start-btn {
  font-size: var(--font-size-medium);
}

#features {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#features-board {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.card {
  text-align: center;
  background-color: #e0d5e3;
  border: 0 solid transparent;
  border-radius: 0.8em;
  padding: 2.5em;
  margin: 1.5em;
  max-width: 20%;
  overflow-wrap: break-word;
}

.feature-img {
  width: 100%;
  max-width: 15em;
  border: 0.1em solid var(--dark-purple);
  border-radius: var(--spacing-medium);
}

#features h2 {
  margin-top: 3em;
  font-size: var(--font-size-large);
  color: var(--heading-purple);
}

#how-it-works {
  text-align: center;
  padding: var(--section-padding);
  background: linear-gradient(
    to bottom,
    var(--background-color) 0%,
    #f7f3ff 50%,
    var(--primary-color) 100%
  );
}

#how-it-works h2,
h3 {
  color: var(--heading-purple);
}

#steps-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--spacing-large);
  width: 80%;
  margin: 0 auto;
}

.step {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  max-width: 55em;
  padding: var(--spacing-large);
  border-radius: 1em;
  background-color: white;
  box-shadow: 0em 1em 4em rgba(0, 0, 0, 0.1);
}

#newsletter {
  text-align: center;
  padding: var(--section-padding);
  background-color: var(--primary-color);
  color: white;
}

input,
button {
  padding: var(--spacing-small);
  margin: var(--spacing-small);
  border-radius: var(--button-border-radius);
}

#get-started {
  color: white;
  background: linear-gradient(
    to bottom,
    var(--primary-color) 0%,
    var(--dark-purple) 100%
  );
  text-align: center;
  padding: var(--spacing-large);
}

.start-btn-light {
  font-size: var(--font-size-medium);
  text-decoration: none;
  padding: var(--button-padding);
  text-align: center;
  font-weight: var(--font-weight-bold);
  border: 0.1em solid white;
  border-radius: var(--button-border-radius);
  background-color: white;
  color: var(--dark-purple);
}

#newsletter .start-btn-light {
  font-size: 12pt;
}

.start-btn-light:hover {
  padding: 0em 0.7em 0.3em;
}

footer {
  background-color: var(--dark-purple);
  color: white;
  text-align: center;
  justify-content: center;
  font-size: var(--font-size-small);
  padding: var(--spacing-small) var(--spacing-medium) 0.2em
    var(--spacing-medium);
}

/* Animations */
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(0.8em);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

section {
  animation: fadeIn 1s ease-in-out;
}

@media (max-width: 600px) {
  h1 {
    font-size: 30pt;
  }
  #features-board {
    flex-direction: column;
    align-items: center;
  }
  .card {
    max-width: 60%;
    margin: var(--spacing-medium) 0;
  }
}

@media (max-width: 500px) {
  header {
    flex-direction: column;
    text-align: center;
    justify-content: center;
    padding: 0;
    padding-bottom: 0.8em;
  }

  header a {
    margin-right: 0em;
  }

  header .logo {
    margin-left: 0em;
  }

  header .login-btn,
  header .start-btn {
    padding: 0.1em var(--spacing-medium);
  }

  header .login-btn {
    margin-left: 0;
    margin-bottom: 0.8em;
  }

  header .start-btn {
    margin-right: 0;
  }
}

/*colors
light: #ca6de8
middle: #8b53ff
dark: #422cb3 
*/
